{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container auth-container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3 class="">{% trans "Sign Up" %}</h3>

            <p>{% blocktrans %}
                Welcome back to Bark & Brew. To book a timeslot, please sign up.
                Do you already have an account? Then please
                <a class="btn btn--orange" href="{{ login_url }}">Login</a>
                instead.
                {% endblocktrans %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form class="signup forms" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn--orange btn-signup right" type="submit">
                    {% trans "Sign Up" %} &raquo;</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}