<!-- homepage/templates/homepage/home.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static '/css/homestyle.css' %}">

<div class="container-fluid">
    <div class="col">
        <div class="row homepage-container">
            <div>
                <div class="heading home-heading">
                    <h1>Welcome to Bark & Brew!</h1>
                    <p>Where tails wag and coffee is always fresh.</p>
                </div>
                <a href="{% url 'account_signup' %}" class="homepage-button btn--orange">Sign Up</a>
                <a href="{% url 'book_time_slot' %}" class="homepage-button btn--orange">Book Now</a>
            </div>
        </div>
        <div class="heading text-center">
            <h2>Meet Our Servers</h2>
        </div>
        <hr class="hr-dark">
        <div class="row row-cols-1 row-cols-md-5 g-4 d-flex justify-content-center serving-cards">
            <div class="col card-col">
                <div class="card text-center h-100">
                    <img src="{% static '/images/Jemma.webp' %}" class="card-img-top"
                        alt="A picture of our serving dog Jemma">
                    <div class="card-body">
                        <h5 class="card-title">Jemma</h5>
                        <p class="card-text"><span class="bold">Hello!</span> I am Jemma. I am a rescue. I like food,
                            walking, tenis balls, scritches and <span class="bold">FOOD.</span>
                            <br>
                            Dislikes going to the vet and those pesky squirrels.</p>
                    </div>
                </div>
            </div>
            <div class="col card-col">
                <div class="card text-center h-100">
                    <img src="{% static '/images/Tyson.webp' %}" class="card-img-top"
                        alt="A picture of our serving dog">
                    <div class="card-body">
                        <h5 class="card-title">Tyson</h5>
                        <p class="card-text"><span class="bold">Hello!</span> I am Tyson. The first boy mom got for 7
                            years! I love snow,
                            Kong Chicken treats, my little cat bros, and sometimes Teddy.
                            <br>
                            Dislikes Rain, thunder and sometimes Teddy.</p>
                    </div>
                </div>
            </div>
            <div class="col card-col">
                <div class="card text-center h-100">
                    <img src="{% static '/images/Teddy.webp' %}" class="card-img-top"
                        alt="A picture of our serving dog">
                    <div class="card-body">
                        <h5 class="card-title">Teddy</h5>
                        <p class="card-text"><span class="bold">Hello!</span> I am Teddy. The fourth and best boy! I
                            love Tyson,
                            my wishbone hard toy, speed running, and all human food, much to moms dismay.
                            <br>
                            Dislikes people at the door because I want to jump on them and play, but mom says no.</p>
                    </div>
                </div>
            </div>
            <div class="col card-col">
                <div class="card text-center h-100">
                    <img src="{% static '/images/pexels-katlovessteve-551628.webp' %}" class="card-img-top"
                        alt="A picture of our serving dog">
                    <div class="card-body">
                        <h5 class="card-title">Max</h5>
                        <p class="card-text"><span class="bold">Hello!</span> I am Max. The agile and energetic boy! I
                            love my frisbee, herding anything that moves, and playing fetch for hours.
                            <br>
                            Dislikes being bored and not having a job to do, but mom says it's okay to relax sometimes.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col card-col">
                <div class="card text-center h-100">
                    <img src="{% static '/images/pexels-wildlittlethingsphoto-2253275.webp' %}" class="card-img-top"
                        alt="A picture of our serving dog">
                    <div class="card-body">
                        <h5 class="card-title">Bella</h5>
                        <p class="card-text"><span class="bold">Hello!</span> I am Bella. The cheerful and friendly
                            girl! I love swimming, my soft plushy toy, and getting belly rubs from everyone.
                            <br>
                            Dislikes loud noises and thunderstorms, but mom says she'll keep me safe.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}