/* homepage/static/css/homestyles.css */
.homepage-container {
    background-image: url(/static/images/pexels-cottonbro-2925324.jpg);
    background-size: cover;
    background-position: center;
    flex-grow: 1;
    text-align: center;
    padding: 50px;
    height: 700px;
}

.homepage-button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
}

.homepage-button:hover {
    background-color: #ae7121;
    color: #fff;
}



/* Info Cards */

.serving-cards{
    margin-bottom: 20px;
}

.card-img-top{
    border-radius: 50%;
}

.card-col{
    max-width: 300px;
    min-width: 250px;
}

.card{
    margin: auto;
    max-width: 250px;
    border: none;
    background-color:#ededed;
}

.bold {
    font-weight: 700;
}

/* Media Queries */
